(knots:[(position:(0.0,0.0),interpolation:Cubic,left_tangent:(slope:0.0,mode:Aligned,weight:None),right_tangent:(slope:0.0,mode:Aligned,weight:None)),(position:(0.20833337,0.16211028),interpolation:Cubic,left_tangent:(slope:1.9814261,mode:Aligned,weight:None),right_tangent:(slope:1.9814261,mode:Aligned,weight:None)),(position:(0.33333364,0.6859194),interpolation:Cubic,left_tangent:(slope:1.5338515,mode:Aligned,weight:None),right_tangent:(slope:1.5338515,mode:Aligned,weight:None)),(position:(1.0,1.0),interpolation:Linear,left_tangent:(slope:0.0049590357,mode:Aligned,weight:None),right_tangent:(slope:0.0049590357,mode:Aligned,weight:None))],max_iters:20,max_error:0.00001)